include AUTHORS CHANGES README.md LICENCE
recursive-include edc_label/templates *
recursive-include edc_label/static *
recursive-include docs *
recursive-exclude edc_example/*
recursive-exclude etc/*
