pycups
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc_navbar
git+https://github.com/samKenpachi011/django-crypto-fields.git@upgrade
