pycups
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc_navbar

# git+https://github.com/erikvw/django-revision@develop#egg=django_revision
# git+https://github.com/erikvw/django-crypto-fields@develop#egg=django-crypto-fields
