{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}
    <script type="text/javascript" charset="utf8" src="{% static "edc_label/js/edc_label.js" %}"></script>
    <script type="text/javascript" charset="utf8" class="init">
      $(document).ready( function () {
        edcLabelReady("{{ label_templates|escapejs }}", "{{ print_server_error|escapejs }}");
      })
    </script>
{% endblock extra-scripts %}

{% block main %}

 <div class="container">

    <div class="panel-group">
          {% if messages %}
              {% for message in messages %}
                <div id="alert-print-server-error" class="alert alert-danger"><i class="fa fa-warning fa-lg"></i> {{ message }}</div>
              {% endfor %}
          {% endif %}

    <div class="panel panel-success">
      <div class="panel-heading"><h4>Your print server</h4></div>      
      <div class="panel-body">  
      <form action="{% url 'edc_label:change_session_print_server' %}" method="post">
          {% csrf_token %}
        <div class="form-group">
              <select class="form-control" id="print_server" name="print_server" onchange="submit();">
              <option {% if not print_server %}selected{% endif %} value="--">select one</option>
              {% for print_server in print_servers.keys %}
                 <option {% if print_server == selected_print_server %}selected{% endif %}>{{ print_server }}</option>
              {% endfor %}
            </select>
        </div>
      </form>
      </div>
      
      {% if not printers %}

        <div id="alert-print-server-error" class="alert alert-danger"><i class="fa fa-warning fa-lg"></i> No printers found</div>
      
      {% else %}
    </div>

    <div class="panel panel-success">
      <div class="panel-heading"><h4>Your clinic label printer</h4></div>      
      <div class="panel-body">  
      <form action="{% url 'edc_label:change_session_printer' 'clinic_label_printer' %}" method="post">
          {% csrf_token %}
        <div class="form-group">
              <select class="form-control" id="clinic_label_printer" name="clinic_label_printer" onchange="submit();">
              <option {% if not selected_clinic_label_printer %}selected{% endif %} value="--">select one</option>
              {% for printer in printers.values %}
                 <option {% if printer.name == selected_clinic_label_printer.name %}selected{% endif %} value="{{ printer.name }}">{{ printer.printer_info|default:printer.name }} ({{ printer.printer_make_and_model }}) {{ printer.printer_location }}</option>
              {% endfor %}
            </select>
        </div>
      </form>
      </div>
      <div class="panel-footer">
      {% if selected_clinic_label_printer %}

          <ul class="list-group">
            <li class="list-group-item">{{selected_clinic_label_printer.name}}</li>
            <li class="list-group-item">{{selected_clinic_label_printer.device_uri}}</li>
            <li class="list-group-item">{{selected_clinic_label_printer.printer_uri_supported}}</li>
          </ul>
      {% if selected_clinic_label_printer.printer_state_message %}
        <div id="alert-clinic-label-printer" class="alert alert-info"><i class="fa fa-info fa-lg"></i> {{ selected_clinic_label_printer.printer_state_message }}</div>
      {% endif %}
      {% endif %}
      </div>
    </div>
  

    <div class="panel panel-success">
      <div class="panel-heading"><h4>Your lab label printer</h4></div>
      <div class="panel-body">  
      <form action="{% url 'edc_label:change_session_printer' 'lab_label_printer' %}" method="post">
          {% csrf_token %}
        <div class="form-group">
          
              <select class="form-control" id="lab_label_printer" name="lab_label_printer" onchange="submit();">
              <option {% if not selected_lab_label_printer %}selected{% endif %} value="--">select one</option>
              {% for printer in printers.values %}
                 <option {% if printer.name == selected_lab_label_printer.name  %}selected{% endif %} value="{{ printer.name }}">{{ printer.printer_info|default:printer.name }} ({{ printer.printer_make_and_model }}) {{ printer.printer_location }}</option>
              {% endfor %}
            </select>
        </div>
      </form>
      </div>
      <div class="panel-footer">

      {% if selected_lab_label_printer %}
        
          <ul class="list-group">
            <li class="list-group-item">{{selected_lab_label_printer.name}}</li>
            <li class="list-group-item">{{selected_lab_label_printer.device_uri}}</li>
            <li class="list-group-item">{{selected_lab_label_printer.printer_uri_supported}}</li>
          </ul>

        {% if selected_lab_label_printer.printer_state_message %}
          <div id="alert-lab-label-printer" class="alert alert-info"><i class="fa fa-info fa-lg"></i> {{ selected_lab_label_printer.printer_state_message }}</div>
        {% endif %}

      {% endif %}
    </div>
  </div>

    {% endif %}

  </div>
</div> <!-- container -->
{% endblock main %}
