{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}
    <script type="text/javascript" charset="utf8" src="{% static "edc_label/js/edc_label.js" %}"></script>
    <script type="text/javascript" charset="utf8" class="init">
      $(document).ready( function () {
        edcLabelReady("{{ label_templates|escapejs }}", "{{ print_server_error|escapejs }}");
      })
    </script>
{% endblock extra-scripts %}

{% block main %}

 <div class="container">

            <div class="col-md-12">
                  <div id="alert-print-server-wait" class="alert alert-info">Contacting print server</div>
            </div>
            <div id="div-print-server-error" class="col-md-12">
                  <div id="alert-print-server-error" class="alert alert-danger" style="display:none"></div>
            </div>
            <div id="div-print-error" class="col-md-12">
                  <div id="alert-print-error" class="alert alert-danger" style="display:none"></div>
            </div>
            <div id="div-print-success" class="col-md-12">
                  <div id="alert-print-success" class="alert alert-success" style="display:none"></div>
            </div>
    <div id="div-home-left" class="col-md-6">
    
          <div class="panel panel-default">
            <div class="panel-heading">Label Templates</div>
                <div class="panel-body">
                  <table id="tbl-label-templates" class="table table-striped table_responsive">
                  <thead><th>Name</th><th>Label</th><th>File</th><th></th></thead>
                  </table>
                </div>
          </div>

    </div><!--div-home-left -->

    <div id="div-home-right" class="col-md-6">

          <div class="panel panel-info">
            <div class="panel-heading">Printers@{{ print_server }}</div>
                <div class="panel-body">
                <table class="table table-striped table_responsive">
                <thead><th>Name</th><th>Make</th><th>Location</th><th>Shared</th><th>Status</th></thead>
                {% for printer, properties in printers.items %}
                    <tr {% if printer ==  default_printer_label %}class="success"{% endif %}><td colspan="5">Label: {{ printer }} {% if printer ==  default_printer_label %} <span class="pull-right">default</span>{% endif %}</td></tr>
                    <tr>
                      <td>{{ properties.printer_info }}</td>
                      <td>{{ properties.printer_make_and_model }}</td>
                      <td>{{ properties.printer_location }}</td>
                      <td>{{ properties.printer_is_shared }}</td>
                      <td>{{ properties.printer_state }}</td>
                    </tr>
                {% endfor %}
                </table>
                </div>
          </div>

    </div><!--div-home-right -->

</div> <!-- container -->
{% endblock main %}
